@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe's Pizza</h1>
    <p style="font-size:20px"><em>Enjoy your heaven of Pizza's'</em></p>
    
</div>
